.button {
    --color: transparent;
    --border-radius: 4px;

    /* color */
    --color-primary: #4fc3f7;
    --color-secondary: #00e676;
    --color-warning: #ff9100;
    --color-danger: #ff5252 ;

    &.primary {
        --color: var(--color-primary);
    }

    &.secondary {
        --color: var(--color-secondary);
    }

    &.warning {
        --color: var(--color-warning);
    }

    &.danger {
        --color: var(--color-danger);
    }
}

.button {
    /*  */
    padding: 8px;
    min-width: 38px;
    min-height: 38px;
    border-width: 2px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    background-color: color-mix(in srgb, white 80%, var(--color) 20%);
    transition: background-color 200ms ease;
    border-color: var(--color);
    color: black;

    > .icon { width: 16px; height: 16px;}

    &:not(:disabled):hover {
        background-color: color-mix(in srgb, white 50%, var(--color) 50%);
    }

    &:disabled {
        opacity: 0.5;
    }

    &.full-width {
        width: 100%;
    }

    &.small {
        width: 38px;
        height: 38px;
    }

    &.transparent { background-color: transparent; }
}