/* Variabel */
:root {
    /* cel gap */
    --cel-gap: 3px;

    /* Color */
    --color-primary: #4fc3f7;
    --color-primary-hover: color-mix(in srgb, var(--color-primary), white 40%);

    --color-secondary: #00e676;
    --color-secondary-hover: color-mix(in srgb, var(--color-secondary), white 40%);

    --color-warning: #ff9100;
    --color-warning-hover: color-mix(in srgb, var(--color-warning), white 40%);

    --color-danger: #ff5252 ;
    --color-danger-hover: color-mix(in srgb, var(--color-danger), white 40%);
}

/* Grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--cel-gap) / 2);

    &.gap-0 { padding: 0; }

    > [class^="col-"] {
        box-sizing: border-box;
        padding: var(--cel-gap);
        
        &.gap-0 { padding: 0; }
    }

    > .col-1 { flex: 0 1 25%; max-width: 25%; }
    > .col-2 { flex: 0 1 50%; max-width: 50%; }
    > .col-3 { flex: 0 1 33.33%; max-width: 33.33%; }
    > .col-4 { flex: 0 1 100%; max-width: 100%; }
    > .col-auto { flex: 1 0 0; }
}

@media (min-width: 480px) {
    .row {
        /* cel gap */
        --cel-gap: 4px;
        > .sm\:col-1 { flex: 0 1 25%; max-width: 25%; }
        > .sm\:col-2 { flex: 0 1 50%; max-width: 50%; }
        > .sm\:col-3 { flex: 0 1 33.33%; max-width: 33.33%; }
        > .sm\:col-4 { flex: 0 1 100%; max-width: 100%; }
    }
}

@media (min-width: 768px) {
    .row {
        /* cel gap */
        --cel-gap: 4px;
        > .md\:col-1 { flex: 0 1 25%; max-width: 25%; }
        > .md\:col-2 { flex: 0 1 50%; max-width: 50%; }
        > .md\:col-3 { flex: 0 1 33.33%; max-width: 33.33%; }
        > .md\:col-4 { flex: 0 1 100%; max-width: 100%; }
    }
}

@media (min-width: 1024px) {
    .row {
        /* cel gap */
        --cel-gap: 6px;
        > .lg\:col-1 { flex: 0 1 25%; max-width: 25%; }
        > .lg\:col-2 { flex: 0 1 50%; max-width: 50%; }
        > .lg\:col-3 { flex: 0 1 33.33%; max-width: 33.33%; }
        > .lg\:col-4 { flex: 0 1 100%; max-width: 100%; }
    }
}

/* Main CSS */
.container {
    background-color:white;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(0.3em);

    align-items: center;
    justify-items: center;
    justify-content: center;

    z-index: 300;
    display: flex;
    flex-direction: column;
}

:root {
    .text-center {
        text-align: center;
    }

    .text-end {
        text-align: end;
    }

    .text-bold {
        font-weight: bold;
    }
}