:root {
    /*  */
    --padding: 8px;
    --btn-padding: 4px
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: var(--padding);

    position: relative;
    justify-content: center;
    
    >.label {
        position: absolute;
        padding-left: var(--padding);
        transition: all 300ms ease;
        opacity: 0.6;
        transform: scale(1);
        transform-origin: left;
        
        &.fixed {
            opacity: 1;
            top: 0;
            transform: scale(0.8);
        }
    }

    >.input:not(:placeholder-shown) + .label,
    >.input:focus-within + .label {
        opacity: 1;
        top: 0;
        transform: scale(0.8);
    }
}

input, select, textarea {
    /* color */
    --inactive: #d9e3e7;
    --active: #eceff1 ;
    --disabled: #e2e2e2;
    --border-radius: 4px;
    
    min-width: 100%;
    max-width: 100%;
    min-height: 38px;
    padding: var(--padding);
    background-color: var(--inactive);
    border: none;
    border-radius: var(--border-radius);
    
    &:focus {
        background-color: var(--active);
    }

    &:disabled, &:disabled > option {
        background-color: var(--disabled);
    }
}

/* Style the dropdown arrow */
select::-ms-expand {
    display: none; /*Hide default arrow in IE/Edge */
}

select {
    appearance: none; /* Keep arrow styling intact */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}